MONGO_URI=mongodb+srv://Campeddies:aqzTwOjhR76tFmkt@cluster0.fvjbtcx.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
MONGO_DB_NAME=streyeke
JWT_SECRET=4f98a23a874f1cf1793111eb7af66b2542f6548ff49c0ec9303da73e7871e8d4
PORT=5000
